body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .column {
    float: left;
    width: 80%;
    margin-bottom: 10px;
    margin-left: 10%;
    padding: 10px 10px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    background: rgba(0,0,0,.7);
     box-sizing: border-box;
     box-shadow: 0 15px 25px rgba(0,0,0,.6);
  }
  .container {
    padding: 0 16px;
    text-align: center;
  }

  .container::after, .row::after {                    
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:  #03e9f4;
    text-align: center;
    cursor: pointer;
    width: 100%;
    }

  .button:hover {
    background-color: #3944BC;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }

  @media screen and (max-width: 800px) {
    .column {
      width: 100%;
      display: block;
    }
  } 
