
  body {
     margin:0;
     padding:0;
     font-family: sans-serif;
     background: url(back10.jpg);/*linear-gradient(#141e30, #243b55);*/
     background-repeat: no-repeat;
     background-attachment: fixed;
   }
   
   .Sign-up {
     position: absolute;
     margin-top: 400px;
     margin-left: 50%;
     width: 500px;
     padding: 40px;
     transform: translate(-50%, -50%);
     background: rgba(0,0,0,.7);
     box-sizing: border-box;
     box-shadow: 0 15px 25px rgba(0,0,0,.6);
     border-radius: 10px;
   }
   
@media screen and (max-width: 600px) {
  .Sign-up {
    margin-top: 400px;
    margin-left: 50%;
    width: 300px;
    
  }
}
   .Sign-up h2 {
     margin: 0 0 30px;
     padding: 0;
     color: #fff;
     text-align: center;
   }
   
   
   .Sign-up .user-box {
     position: relative;
   }
   .Sign-up  .error-text{
    background: transparent;
     padding: 8px 0;
     border-radius: 5px;
     color: #8B3E46;
     border: 1px solid #f5c6cb;

   }
   
   .Sign-up .user-box input {
     width: 100%;
     padding: 10px 0;
     font-size: 16px;
     color: #fff;
     margin-bottom: 30px;
     border: none;
     border-bottom: 1px solid #fff;
     outline: none;
     position: relative;
     background: transparent;
   }
   .Sign-up .user-box label {
     position: absolute;
     top:0;
     left: 0;
     padding: 10px 0;
     font-size: 16px;
     color: #fff;
     pointer-events: none;
     transition: .5s;
   }
   
   .Sign-up .user-box input:focus ~ label,
   .Sign-up .user-box input:valid ~ label {
     top: -20px;
     left: 0;
     color: #03e9f4;
     font-size: 12px;
   }
   .user-box .show{
     position: absolute;
     display: inline-block;
     text-decoration: none;
     overflow: hidden;
     transition: .5s;
     right: 10px;
     top: 30%;
     color: #03e9f4;
     transform: translateY(-50%);
     user-select: none;
     font-size: 14px;
     font-weight: 600;
     cursor: pointer;
   }
   
   .Sign-up form a {
     position: relative;
     display: inline-block;
     padding: 10px 30px;
     color: #03e9f4;
     font-size: 16px;
     cursor: pointer;
     text-decoration: none;
     text-transform: uppercase;
     overflow: hidden;
     transition: .5s;
     margin-top: 40px;
     letter-spacing: 4px;
   }
   
   .show:hover,.Sign-up a:hover {
     background: #03e9f4;
     color: #fff;
     border-radius: 5px;
     box-shadow: 0 0 5px #03e9f4,
                 0 0 25px #03e9f4,
                 0 0 50px #03e9f4,
                 0 0 100px #03e9f4;
   }
   
   .Sign-up a span {
    position: absolute;
    display: block;
  }
  
  .Sign-up a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .Sign-up a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .Sign-up a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .Sign-up a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

   .Sign-up form button {
    position: relative;
    display: inline-block;
    padding: 10px 35px;
    color: #03e9f4;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .Sign-up button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .Sign-up button span {
    position: absolute;
    display: block;
  }
  
  .Sign-up button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .Sign-up button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .Sign-up button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .Sign-up button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
 
 
 
 
 
 
 
 
