
* {
  box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
  
body
{
    margin: 0;
    background-image: url('back10(gaya3).jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
}

ul {
  float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: white;
    padding: 27px 16px;
    text-decoration: none;
    text-align: center;
    opacity: 0.6;
    /* width:0px; */
    transition: width 0.5s ease-in-out;
    font-size: 16px;
  }
  
  li a:hover:not(.active) {
    color: white;
    opacity: 1;
    border-bottom: 3px solid #03e9f4;
    font-size: 18px;
    width: 100%;
  }
    
  .header {
    float: left;
  width: 100%;
  overflow: auto;
  z-index: 99;
  color: white;
  width: 100%;
  /*background-color:rgb(65, 62, 62);*/
  height:100px;
}


  .sidebar
  {
      float:left;
      overflow: auto;
      top: 110px;
      width: 30%;
      padding: 10px 10px;
  }
 .rest
 {
   float: left;
   width:60%;
   margin-left: 23%;
   margin-top: 110px;
   color: whitesmoke;
   text-transform: uppercase;
   text-align: justify;
 }
 .header a h1
 {
   margin-top: 13px;
   float: left;
   color: white;
   width: 50%;
   margin-left: 20%;
   text-align: center;
   font-size: 50px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .header a img
 {
   float: left;
   height: 90px;
   padding: 0;
   opacity: 0.6;
 }
 .header a img:hover:not(.active) {
   opacity: 1;
 }
 .footer {
  margin-top: 770px;
  width: 100%;
  overflow: auto;
  position: relative;
  color: white;
  width: 100%;
  background-color: black;
  height:80px;
}

.footer a h1
{
  float: left;
  color: white;
  width: 50%;
  margin-left: 20%;
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer a img
{
  float: left;
  height: 70px;
  padding: 0;
  opacity: 0.6;
}
#ic
{
  float: right;
  padding: 15px 20px;
  color: white;
  opacity: 0.6;
  width: 5%;
}
.footer a :hover
{
  opacity: 1;
}

#toTop {
  display: none;
  position: fixed;
  bottom: 85px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: #03e9f4;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  opacity: 0.6;
}

#toTop:hover {
  background-color: #03e9f4;
  opacity: 1;
  color: #555;
}
#head
{
  background-color:rgb(65, 62, 62,0);
}
@media screen and (max-width: 800px) {

 .header a h1
 {
  font-size: 30px;
  margin-left: 12%;
  margin-top: 30px;
 }
  .header
  {
    font-size: 30px;
  }
  li a
  {
    font-size: 18px;
    padding: 0%;
  }
  li{
    height: 25%;
  }
  .rest
  {
    margin-left: 100px;
  }
  .sidebar ul{
    width: 100%;
    height: 150px;
    text-align: center;
    position: relative;
  }
  .sidebar{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin:10px;
  }
  .contents{
    height: 100%;
  }
}
